.table {
  width: 100%;
  overflow: hidden;
}

.table__scroll-wrap {
  width: 100%;
  padding-bottom: 16px;
  overflow: auto;
}

.table__self {
  width: 100%;
  min-width: 980px;
  padding: 16px;
  color: #000;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.4px;
  background: #fff;
  border-radius: 12px;
  border-spacing: 0;

  a {
    color: rgba(#4d65ff, 0.9);

    &:hover {
      text-decoration: underline;
    }
  }
}

.table__thead {
  td {
    padding: 16px 0;
    color: #8a8c9b;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    &:first-child {
      padding-left: 16px;
    }
  }
}

.table__tbody {
  color: #1c2e36;

  tr {
    &:nth-child(odd) {
      background: #f7f9fd;
    }

    td {
      &:first-child {
        padding-left: 16px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  td {
    padding: 12px 0;
  }
}

.table__footer {
  display: flex;
  margin-top: 14px;
}

.table__pagination {
  margin-left: auto;
}

.table__select-output {
  display: flex;
}

.table__select-val,
.table__btn-page {
  min-width: 30px;
  min-height: 30px;
  color: #000;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.25px;
  background: #f7f9fd;
  border-radius: 50%;
  cursor: pointer;

  @include flex-center;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &--active {
    color: #fff;
    background: #8a8c9b;
  }
}

.table__select-val {
  &:not(.table__select-val--active):hover {
    background: #fff;
  }
}

.table__btn-page {
  &:not(.table__btn-page--active):hover {
    background: #fff;
  }
}

.table__pagination {
  display: flex;
  align-items: center;
}

.table__btn-prev,
.table__btn-next {
  cursor: pointer;

  @include flex-center;
}

.table__btn-next {
  transform: scale(-1, -1);
}

.table__pagination-list {
  display: flex;
  margin: 0 13px;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
