#set-pg {
}

// Mixes

.set-pg__product-d {
  margin-bottom: 56px;
}

.set-pg__set-slider {
  margin-bottom: 26px;
}

.set-pg__adv-list {
  margin-bottom: 64px;
}

.set-pg__product-char {
  margin-bottom: 30px;
}
