@import '~normalize.css/normalize.css';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'reset';

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: 'TondoCorp', sans-serif;
  background: $bg-color;
}

.container {
  @include container;
  min-height: 100%;
}

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000, $alpha: 0.5);
  cursor: pointer;

  &--show {
    z-index: 10001;
    display: block;
  }
}

.content-display {
  padding: 16px 16px 22px;
  color: #515159;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  background: #fff;
  border-radius: 12px;

  .subtitle {
    margin-bottom: 8px;
    color: #8a8c9b;
  }

  p:not(.subtitle):not(.text-subtitle) + p {
    margin-top: 27px;
  }
}

.content-table {
  color: #000;
  font-size: 14px;
  line-height: 1;
  border-radius: 12px;
  border-spacing: 0;

  tr {
    &:nth-child(odd) {
      background: #f7f9fd;
    }

    td {
      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  td {
    padding: 13px 16px;
  }

  + *:first-of-type {
    margin-top: 8px;
  }
}

.text-list {
  padding-left: 18px;
  list-style: disc;

  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.text-num-list {
  padding-left: 18px;
}

.text-subtitle {
  color: #000;
  font-size: 16px;
}

.bold {
  font-weight: 700;
}
