@mixin less-sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin less-md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin less-lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin less-xl {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin import-font($name, $weight) {
  @font-face {
    font-weight: $weight;
    font-family: $name;
    font-display: swap;
    font-style: normal;
    @content;
  }
}

@mixin container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1169.98px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@mixin img-resp {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
