.input-file {
  &--selected {
    .input-file__label {
      color: #000;
    }

    .input-file__placeholder {
      top: -4px;
      opacity: 1;
    }

    .input-file__icon-arrow {
      opacity: 1;
    }
  }
}

.input-file__self {
  position: relative;
  width: 100%;
  margin-bottom: 11px;
  color: #000;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.25px;
  background: #fff;
  border-radius: 20px;

  &--error {
    .input-file__placeholder {
      color: #ff001f;
    }
  }
}

.input-file__input {
  display: none;
}

.input-file__placeholder {
  position: absolute;
  top: 0;
  left: 18px;
  color: #8a8c9b;
  font-size: 10px;
  line-height: 1;
  transform: translateY(-100%);
  opacity: 0;
}

.input-file__label {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 100%;
  padding: 10px 18px;
  color: #8a8c9b;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  cursor: pointer;
}

.input-file__icon-group {
  position: absolute;
  top: 50%;
  right: 19px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.input-file__icon-label {
  margin-right: 19px;
  color: #515159;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.input-file__icon-arrow {
  opacity: 0;
}

.input-file__notice {
  display: flex;
}

.input-file__notice-icon {
  margin: 0 19px;
}

.input-file__notice-text {
  color: #8a8c9b;
  font-size: 10px;
  line-height: 1.5;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
