.table-orders {
}

.table-orders__title {
  margin-bottom: 20px;
  color: #515159;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

.table-orders__filter {
  display: flex;
}

.table-orders__tabs {
  margin-bottom: 22px;
  background: #fff;
  border-radius: 22px;
}

.table-orders__tab {
  padding: 14px 16px;
  color: #000;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  border-radius: 22px;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &:not(.table-orders__tab--active):hover {
    background: lighten(#515159, 60%);
  }

  &--active {
    color: #fff;
    background: #515159;
  }
}

.table.table-orders__self {
}

.table-orders__tbody {
  tr {
    cursor: pointer;
  }
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

.table-orders__select {
  margin-left: auto;

  .select__self-wrap {
    width: 100vw;
    max-width: 273px;
  }
}

// Animation
