mixin kits-slider(mixes)

  .kits-slider(class=(mixes) && `${mixes}__kits-slider`)
    p.kits-slider__title Составляющие комплекта
      ul.kits-slider__list
        each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          li.kits-slider__item
            .kits-slider__img-container
              img.kits-slider__img(src=require('views/components/kits-slider/img/item.png') alt='Изображение')
            
            p.kits-slider__collection-name GEM
            p.kits-slider__name Раковина мебельная, керамическая, 60 см.
            p.kits-slider__rest-items На складе 20 шт.
            .kits-slider__price-group
              p.kits-slider__oldprice 17 590 ₽
              p.kits-slider__price 13 490 ₽
            
            +btn-normal({ label: 'Добавить в комплект', type: 'outline' }, 'kits-slider')

    .kits-slider__pagination
      p.kits-slider__pagination-name <span>1</span> из 11 товаров выбран
      ul.kits-slider__pagination-list
        each item, idx in [1, 2, 3]
          li.kits-slider__pagination-item(class=(idx === 0) && 'kits-slider__pagination-item--active')