extends ~@/layout

block title
  title

block content

  - const { table } = require('./data.js')

  #seller-list-pg
    +modal-new-seller('seller-list-pg')

    +breadcrumbs({ items: ['Каталог', 'Мебель', 'Комплекты'] }, 'seller-pg')

    header.seller-list-pg__header
      +page-title({ title: 'Список продавцов' }, 'seller-list-pg')
      +btn-normal({ label: '+  Добавить продавца', type: 'gray' }, 'seller-list-pg')

    +table({ thead: table.thead, tbody: table.tbody, withPagination: true })
