mixin input-password(mixes)

  .input-password(class=(mixes) && `${mixes}__input-password`)
    input.input-password__input(type='password' placeholder='Пароль')
    label.input-password__label Пароль
    button.input-password__btn-toggle
      include img/icon-eye.svg

