mixin btn-unpload(mixes)
  button.btn-unpload(class=(mixes) && `${mixes}__btn-unpload`)
    img.btn-unpload__icon-download(src=require('views/components/btn-unpload/img/icon-download.svg') alt='Иконка')
    | Скачать выгрузку товаров