.slide-btn {
}

.slide-btn__self {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.25px;
  background: #515159;
  border-radius: 22px;

  &:hover {
    background: #000;
  }
}

.slide-btn__icon {
  margin-left: 14px;
}

.slide-btn__content {
  display: none;
  transition: none;
}

.slide-btn__title {
  margin-top: 37px;
  margin-bottom: 17px;
  color: #515159;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

.slide-btn__footer {
  text-align: center;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

.slide-btn__btn-normal {
  margin-top: 32px;
}

// Animation
