#login-pg {
  @include flex-center;
  min-height: 100vh;
}

// Mixes

#login-pg {
  .login-pg__login-form {
    width: 100vw;
    max-width: 344px;
  }

  .login-pg__recover-form {
    max-width: 344px;
  }

  .login-pg__registration-form {
    width: 100vw;
    max-width: 344px;
  }
}
