#login-pg {
  @include flex-center;
  min-height: 100vh;
}

.login-pg__form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 32px 0;
}

// Mixes

#login-pg {
  .login-pg__login-form {
    width: 100%;
    max-width: 344px;
  }

  .login-pg__recover-form {
    max-width: 344px;
  }

  .login-pg__registration-form {
    width: 100%;
    max-width: 344px;
  }
}
