extends ~@/layout

block title
  title

block content

  - const data = require('./data.js')

  #login-pg

    .login-pg__form-container

    template#auth
      +login-form( 'login-pg')

    template#recover
      +recover-form('login-pg')

    template#registration
      +registration-form('login-pg')




