#reclamation-list-pg {
}

.reclamation-list-pg__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

// Mixes

.reclamation-list-pg__small-tabs {
  margin-bottom: 25px;
}
