#reclamation-list-pg {
}

.reclamation-list-pg__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
  .reclamation-list-pg__header {
    flex-direction: column;
  }

  .reclamation-list-pg__page-title {
    margin-bottom: 16px;
  }
}

// Mixes

.reclamation-list-pg__small-tabs {
  margin-bottom: 25px;
}
