extends ~@/layout

block title
  title

block content

  - const data = require('./data.js')

  #reclamation-pg
    +breadcrumbs({ items: ['Каталог', 'Мебель', 'Комплекты'] }, 'reclamation-pg')
    +page-title({ title: 'Рекламация №19496', type: 'line' }, 'reclamation-pg')

