extends ~@/layout

block title
  title

block content

  - const data = require('./data.js')

  #reclamation-pg
    +breadcrumbs({ items: ['Каталог', 'Мебель', 'Комплекты'] }, 'reclamation-pg')
    +page-title({ title: 'Рекламация №19496', type: 'line' }, 'reclamation-pg')

    .reclamation-pg
      
      .reclamation-pg__container
        .reclamayion-pg__l-side
          .reclamation-pg__display
            h4.reclamation-pg__title Номенклатура
            .content-display
              p.subtitle Название продукта
              p Унитаз

              p.subtitle Описание рекламации
              p Альбедо, как следствие уникальности почвообразования в данных условиях, возникает биокосный псевдомицелий. Усадка охлаждает фраджипэн. Окисление растворяет органо-минеральный краснозём, вне зависимости от предсказаний теоретической модели явления. 

              p.subtitle Требование дилера/потребителя
              p Сукцессия экстремально сжимает аллювий при любом их взаимном расположении. Глей, в случае использования адаптивно-ландшафтных систем земледелия, неоднороден по составу. Усадка воспроизводима в лабораторных условиях.
          
          .reclamation-pg__display
            h4.reclamation-pg__title История смены статусов
            .content-display
              p.subtitle 16.07.2019 12:10:38
              p Дмитрий Краснов

              p.subtitle Статус
              p На рассмотрении

              p.subtitle Комментарий
              p С другой стороны реализация намеченных плановых заданий позволяет оценить значение существенных финансовых и административных условий.
        .reclamayion-pg__r-side
          .reclamation-pg__display
            h4.reclamation-pg__title Данные накладной
            .content-display
              table.content-table.order-pg__app-display__table
                tr
                  td Статус
                  td.bold На рассмотрении
                tr
                  td Номер отгрузочной накладной
                  td 19427
                tr
                  td Дата отгрузочной накладной
                  td 22.11.2019
                tr
                  td Контрагент
                  td Профиль 2019-11-16
                tr
                  td Местоположение товара
                  td На складе дилера