.course-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.course-tabs__container {
  width: 100%;
}

.course-tabs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.course-tabs__tab {
  display: none;
  flex-direction: column;
  align-items: flex-start;

  &--show {
    display: flex;
  }

  &[data-target='Тесты'] {
    .content-display + .course-tabs__btn-normal {
      margin-bottom: 25px;
    }

    .course-tabs__footer {
      padding-top: 23px;
      border-top: 1px solid #e1e5ef;
    }
  }
}

.course-tabs__subtitle {
  color: #515159;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;

  + .content-display {
    margin-top: 18px;
  }
}

.course-tabs__footer {
  display: flex;
  padding-top: 32px;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
  .course-tabs__header {
    width: 100%;
  }

  .course-tabs__tabs {
    flex-direction: column;
    width: 100%;

    .tabs__tab-btn {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .course-tabs__footer {
    flex-direction: column;
    width: 100%;
  }

  .course-tabs__btn-normal.btn-normal {
    + .course-tabs__btn-normal {
      margin-top: 8px;
      margin-left: 0;
    }
  }
}

// Mixes

.content-display + .course-tabs__btn-normal {
  margin-top: 24px;
}

.course-tabs__btn-normal {
  + .course-tabs__btn-normal {
    margin-left: 16px;
  }
}

.course-tabs__table {
  align-items: normal;
}

// Animation
