.cart-item {
  display: flex;
  align-items: center;
}

.cart-item__product-info-group {
  display: flex;
  align-items: center;
}

.cart-item__product-img-container {
  max-width: 60px;
  max-height: 80px;
}

.cart-item__product-img {
  @include img-resp;
}

.cart-item__product-info {
  max-width: 300px;
  margin-right: auto;
  margin-left: 40px;
}

.cart-item__collection-name {
  margin-bottom: 10px;
  color: #515159;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cart-item__product-name {
  margin-bottom: 10px;
  color: #1c2e36;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.1px;
}

.cart-item__product-sub-info {
  display: flex;
  align-items: center;
  color: rgba(#8a8c9b, 0.5);
  font-size: 13px;
  line-height: 24px;
}

.cart-item__product-num {
  display: flex;
  align-items: center;

  &:after {
    width: 1px;
    height: 10px;
    margin-left: 15px;
    background: rgba(#8a8c9b, 0.2);
    content: '';
  }
}

.cart-item__product-amount {
  margin-left: 15px;
  line-height: 1.3;
}

.cart-item__control-group {
  display: flex;
  align-items: center;
}

.cart-item__btn-count-group {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 6px;
  background: #f3f5f9;
  border-radius: 22px;

  .cart-item__count {
    text-align: center;
  }
}

.cart-item__btn-sub,
.cart-item__btn-add {
  min-width: 33.6px;
  min-height: 33.6px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  @include flex-center;

  &:hover {
    background: darken($color: #fff, $amount: 6%);
  }
}

.cart-item__count {
  padding: 0 6px;
  color: #1c2e36;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.25px;
}

.cart-item__sum {
  margin-left: 20px;
  color: #1c2e36;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

// Media queries

@include less-xl {
  .cart-item__control-group {
    flex-direction: column;
  }

  .cart-item__btn-count-group {
  }

  .cart-item__sum {
    margin-top: 16px;
    margin-left: 0;
  }
}

@include less-lg {
}

@include less-md {
  .cart-item {
    flex-direction: column;
    margin-left: 0;
  }

  .cart-item__product-info-group {
    margin-bottom: 16px;
  }

  .cart-item__control-group {
    flex-direction: row;
  }

  .cart-item__product-info {
    max-width: none;
  }

  .cart-item__btn-count-group {
    margin-bottom: 0;
  }

  .cart-item__sum {
    margin-left: 20px;
  }
}

@include less-sm {
  .cart-item__product-info-group {
    flex-direction: column;
    margin: 0 0 16px;
  }

  .cart-item__product-info {
    margin-left: 0;
  }

  .cart-item__product-img-container {
    margin-bottom: 16px;
  }

  .cart-item__control-group {
    flex-direction: column;
  }

  .cart-item__sum {
    margin-top: 16px;
    margin-left: 0;
  }
}

// Mixes

// Animation
