include ~@/components/adv-list/adv-list
include ~@/components/bonus-tabs/bonus-tabs
include ~@/components/breadcrumbs/breadcrumbs
include ~@/components/btn-close/btn-close
include ~@/components/btn-normal/btn-normal
include ~@/components/btn-unpload/btn-unpload
include ~@/components/cart-app/cart-app
include ~@/components/cart-item/cart-item
include ~@/components/catalog-menu/catalog-menu
include ~@/components/category-bonus-item/category-bonus-item
include ~@/components/category-item/category-item
include ~@/components/checkbox/checkbox
include ~@/components/course-tabs/course-tabs
include ~@/components/header/header
include ~@/components/input-file/input-file
include ~@/components/input-password/input-password
include ~@/components/input-text/input-text
include ~@/components/kits-slider/kits-slider
include ~@/components/layout-app/layout-app
include ~@/components/login-form/login-form
include ~@/components/modal/modal
include ~@/components/modal-cart/modal-cart
include ~@/components/modal-category-bonus/modal-category-bonus
include ~@/components/modal-new-seller/modal-new-seller
include ~@/components/modal-upload/modal-upload
include ~@/components/order-app/order-app
include ~@/components/page-title/page-title
include ~@/components/product-char/product-char
include ~@/components/product-d/product-d
include ~@/components/product-download/product-download
include ~@/components/product-item/product-item
include ~@/components/product-item-2/product-item-2
include ~@/components/product-list/product-list
include ~@/components/radio-btn/radio-btn
include ~@/components/recover-form/recover-form
include ~@/components/registration-form/registration-form
include ~@/components/search/search
include ~@/components/select/select
include ~@/components/slide-btn/slide-btn
include ~@/components/small-tabs/small-tabs
include ~@/components/table/table
include ~@/components/table-orders/table-orders
include ~@/components/tabs/tabs
include ~@/components/tags/tags
include ~@/components/test-app/test-app
