.select {
  &--bg {
    .select__self-wrap {
      background: #f7f9fd;
    }

    .select__self {
      color: #8a8c9b;
    }
  }
}

.select__wrap {
  display: flex;
}

.select__label {
  margin-bottom: 4px;
  margin-left: 18px;
  color: #8a8c9b;
  font-size: 10px;
  line-height: 1;
}

.select__self-wrap {
  position: relative;
  background: #fff;
  border-radius: 20px;
}

.select__icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.select__self {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 13px 18px;
  color: #000;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.25px;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
  .select__wrap {
    flex-direction: column;
  }

  .select__btn-normal.btn-normal {
    margin-top: 16px;
    margin-left: 0;
  }
}

// Mixes

.select__btn-normal {
  margin-left: 32px;
}

// Animation
