mixin select({ label, items, button }, mixes)

  .select(class=(mixes) && `${mixes}__select`)
    if (label)
      p.select__label= label

    .select__wrap
      .select__self-wrap
        select.select__self
          each item in items
            option.select__option= item

        img.select__icon(src=require('views/components/select/img/icon-arrow.svg') alt='Иконка')

      if (button)
        +btn-normal({ label: button, type: 'gray' }, 'select')
