extends ~@/layout

block title
  title

block content

  - const data = require('./data.js')

  #orders-pg

    +breadcrumbs({ items: ['Каталог', 'Мебель', 'Комплекты'] })

    +page-title({ title: 'Список заказов', type: 'line' }, 'orders-pg')

    +table-orders('orders-pg')

