.modal-cart {
  width: 100%;
  max-width: 755px;

  .modal__header {
    margin-bottom: 24px;
  }

  .modal-cart__footer {
    margin-top: 24px;
  }
}

.modal-cart__list {
  margin-top: 16px;
  margin-bottom: 16px;
}

.modal-cart__footer-btn-group {
  display: flex;
  justify-content: center;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
  .modal-cart {
    width: 100vw;
    max-width: calc(100vw - 64px);
  }
}

@include less-sm {
  .modal-cart__footer-btn-group {
    flex-direction: column;
  }
}

// Mixes

.modal-cart__btn-normal {
  &:not(:last-child) {
    margin-right: 33px;

    @include less-sm {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
}

.modal-cart__cart-item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

// Animation
