.instructions-app {
  display: flex;
}

.instructions-app__sidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100vw;
  max-width: 420px;
  margin-right: 16px;
  padding: 24px 16px;
  background: #fff;
  border-radius: 12px;
}

.instructions-app__tab-switch {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.instructions-app__tab-btn {
  padding: 13px 16px;
  color: #515159;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.1px;
  text-align: left;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background: #f0f3f9;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--active {
    background: #f0f3f9;
  }
}

.instructions-app__tabs-container {
  padding: 20px 16px;
  background: #fff;
  border-radius: 12px;
}

.instructions-app__tab {
  display: none;

  &--show {
    display: block;
  }
}

.instructions-app__tab-title {
  margin-bottom: 16px;
  color: #515159;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

.instructions-app__tab-text {
  color: #515159;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
}

.instructions-app__tab-img-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-right: -24px;
  margin-bottom: -24px;
}

.instructions-app__tab-img-container {
  max-width: 208px;
  margin-right: 24px;
  margin-bottom: 24px;

  @include flex-center;
}

.instructions-app__tab-img {
  @include img-resp;
}

// Media queries

@include less-xl {
}

@include less-lg {
  .instructions-app {
    flex-direction: column;
  }

  .instructions-app__sidebar {
    align-self: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

@include less-md {
}

@include less-sm {
}

// Mixes

.instructions-app__sidebar {
  .instructions-app__btn-normal {
    align-self: center;
  }
}

// Animation
