mixin product-download(mixes)

  .product-download(class=(mixes) && `${mixes}__product-download`)

    +modal({ otherClass: '_scheme' }, 'product-download')
    .product-download__icon-container
      img.product-download__icon(src=require('views/components/product-download/img/i-download.svg') alt='Иконка')
    
    a.product-download__link(href='#') Посмотреть инструкцию
      span (PDF)

    button.product-download__link._scheme Посмотреть схему
      span (JPG)

