.tabs {
  display: flex;
  background: #fff;
  border-radius: 22px;
}

.tabs__tab-btn {
  padding: 16px;
  color: #000;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  border-radius: 22px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &--active {
    color: #fff;
    background: #515159;
    cursor: default;

    .tabs__tab-btn-label {
      color: #515159;
      background: #fff;
    }
  }

  &:not(.tabs__tab-btn--active):hover {
    background: lighten($color: #515159, $amount: 60%);
    cursor: pointer;
  }
}

.tabs__tab-btn-label {
  margin-left: 3px;
  padding: 2px 3px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  background: #8a8c9b;
  border-radius: 8px;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
