.category-item {
  background: #fff;
  border-radius: 12px;
}

.category-item__img-container {
  overflow: hidden;
  border-radius: 12px;
}

.category-item__img {
  @include img-resp;
}

.category-item__footer {
  padding: 20px 24px 24px;
}

.category-item__name {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
