#kits-pg {
}

// Mixes

.kits-pg__product-d {
  margin-bottom: 56px;
}

.kits-pg__kits-slider {
  margin-bottom: 26px;
}

.kits-pg__adv-list {
  margin-bottom: 64px;
}

.kits-pg__product-char {
  margin-bottom: 30px;
}
