.header {
  position: relative;
  right: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
}

.header__wrap {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px;
}

.header__logo-link {
  margin-right: 60px;
  @include flex-center;
}

.header__nav {
  display: flex;
}

.header__link-wrap {
  &:not(:last-child) {
    padding-right: 32px;
  }
}

.header__link {
  position: relative;
  display: inline-block;
  padding: 23px 0;
  color: #000;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 32px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    opacity: 0;
    content: '';
  }

  &:hover {
    &:not(.header__link--active) {
      &:after {
        opacity: 1;
      }
    }
  }

  &--active {
    &:after {
      opacity: 1;
    }
  }
}

.header__bar {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-left: auto;
}

.header__search-btn {
  margin-right: 32px;
  @include flex-center;
}

.header__profile {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-right: 28px;
  cursor: pointer;

  &:hover {
    .header__profile-name {
      color: #000;
    }
  }
}

.header__avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 50%;
}

.header__avatar-img {
  @include img-resp;
}

.header__profile-name {
  display: flex;
  align-items: center;
  color: #8a8c9b;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.4px;
}

.header__profile-icon-more {
  margin-left: 6px;
}

.header__cart-link {
  position: relative;
  @include flex-center;

  &:hover {
    .header__cart-items {
      transform: translateX(60%);
    }
  }
}

.header__cart-items {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  color: #fff;
  font-size: 10px;
  line-height: 1;
  background: #e52443;
  border-radius: 50%;
  transform: translateX(90%);
  @include flex-center;
}

.header__login-link {
  color: #000;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.4px;
  @include flex-center;
}

.header__login-icon {
  margin-right: 8px;
}

.header__profile-menu {
  position: absolute;
  top: calc(100% + 1px);
  display: none;
  padding: 8px;
  background: #fff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 24px 16px rgba(0, 32, 80, 0.05);

  &--show {
    display: block;
  }
}

.header__profile-menu-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #515159;
  font-size: 13px;
  line-height: 1;
  border-radius: 12px;

  &:hover {
    color: #000;
    background: rgba(215, 223, 233, 0.24);
  }
}

.header__profile-menu-icon {
  margin-right: 17px;
}
// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

.header__bar {
  .header__search {
    flex: 0;
    margin-right: 32px;
  }
}

.header__search {
  position: relative;
  z-index: 10000;
  width: 100%;
  max-width: 464px;
  margin-left: auto;
}

.header__catalog-menu {
  position: absolute;
  bottom: -1px;
  display: none;
  width: 100vw;
  transform: translateY(100%);
}

// Animation
