#order-pg {
}

.order-pg__app-double-screen {
  display: flex;
  margin-bottom: 37px;

  > * {
    width: 50%;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.order-pg__app-display {
  display: flex;
  flex-direction: column;

  .content-display {
    flex-grow: 1;
  }
}

.order-pg__app-title {
  margin-bottom: 20px;
  color: #515159;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

.order-pg__app-display__table {
  width: 100%;

  tr {
    td {
      &:last-child {
        text-align: right;
      }
    }
  }
}

.order-pg__app-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
  .order-pg__app-double-screen {
    flex-direction: column;

    > * {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }
  }
}

@include less-sm {
  .order-pg__app-footer {
    flex-direction: column;

    .order-pg__btn-normal.btn-normal {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }
}

// Mixes

.order-pg__page-title {
  margin-bottom: 17px;
}

.order-pg__app-footer {
  .order-pg__btn-normal {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
