#order-pg {
}

.order-pg__app-double-screen {
  display: flex;
  margin-right: -16px;
  margin-bottom: 37px;

  > * {
    width: 50%;
    margin-right: 16px;
  }
}

.order-pg__app-display {
  display: flex;
  flex-direction: column;

  .content-display {
    flex-grow: 1;
  }
}

.order-pg__app-title {
  margin-bottom: 20px;
  color: #515159;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15px;
}

.order-pg__app-display__table {
  width: 100%;

  tr {
    td {
      &:last-child {
        text-align: right;
      }
    }
  }
}

.order-pg__app-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

// Mixes

.order-pg__page-title {
  margin-bottom: 17px;
}

.order-pg__app-footer {
  .order-pg__btn-normal {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
