extends ~@/layout

block title
  title

block content

  - const data = require('./data.js')

  #test-result-pg
    +breadcrumbs({ items: ['Каталог', 'Мебель', 'Комплекты'] }, 'test-result-pg')

    +page-title({ title: 'Тест по бренду AM.PM', type: 'line' }, 'test-result-pg')

    +test-app({ result: true }, 'test-result-pg')


